/* You can add global styles to this file, and also import other style files */

/* Elimina i margini e padding di default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container {
  width: 100% !important;
  max-width: 90vw !important;
  max-height: 100vh !important;
  margin-left: 85px !important;
  padding: 0 !important;
  
}
